.footer {
  overflow: hidden;
  min-height: 250px;
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #efefef 20%,
    #c7c7c7 45%,
    #6d6d6d 75%,
    #292929 100%
  );

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    min-height: 250px;

    text-align: center;

    &::before {
      pointer-events: none;
      content: 'NOTHING';

      position: absolute;
      z-index: 0;

      font-size: 120px;
      font-weight: 700;
      color: rgb(255 255 255 / 4%);
      letter-spacing: 8px;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  &__title {
    margin: 0;

    font-size: 32px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 8px;

    @include onTablet {
      font-size: 40px;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    color: rgb(255 255 255 / 75%);

    @include onTablet {
      font-size: 16px;
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
  }

  &__social-link {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      opacity: 0.8;
    }
  }

  &__copyright {
    margin: 0;
    font-size: 12px;
    color: rgb(255 255 255 / 50%);
  }
}
