.form {
  &__field {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    color: #7e7e83;

    &-info {
      box-sizing: border-box;
      width: 100%;
      height: 48px;
      padding-inline: 10.9px;
      border: none;

      font-family: Cinzel, serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 20px;
      color: #7e7e83;

      appearance: none;
      background: #f8f8fa;
      outline: none;

      &:hover {
        border: 1px solid #d5d7de;
        color: $main-text-color;
      }

      &:active {
        color: $main-text-color;
      }

      &:focus {
        border: 1px solid #000;
        color: $main-text-color;
      }
    }
  }

  &__textarea {
    resize: none;

    overflow-y: auto;

    height: 144px;
    margin-bottom: 48px;
    padding: 0;
    padding-block: 14px;
    padding-inline: 10.9px;

    appearance: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    &-text {
      box-sizing: border-box;
      width: 100%;
      height: 56px;
      border: none;

      font-family: Cinzel, serif;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      line-height: 56px;
      color: #fff;
      text-align: center;

      background-color: $main-text-color;
      outline: none;

      &:hover {
        cursor: pointer;
        background-color: #ae1c23;
      }

      &:active {
        background-color: #eb343d;
      }
    }
  }
}
