@mixin onTablet() {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop() {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

.container {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  };

  @include onDesktop {
    margin-inline: auto;
    max-width: 1020px;
    padding-inline: 120px;
  };
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
    $mobile-columns: 2;
  $tablet-columns: 6;
  $desktop-columns: 12;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat($mobile-columns, 1fr);

  @include onTablet {
    grid-template-columns: repeat($tablet-columns, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat($desktop-columns, 1fr);
  }
}